In [6]:
import pandas as pd

# 读取清理后的数据
df = pd.read_csv("/mnt/data/disk2/zyu/C/2026_MCM_Problem_C_Data_cleaned.csv")

# 查看前几行
df.head()

,celebrity_name,ballroom_partner,celebrity_industry,celebrity_homestate,celebrity_homecountry/region,celebrity_age_during_season,season,results,placement,week1_judge1_score,...,week9_normalized,week9_pct,week10_n_judges,week10_total_score,week10_normalized,week10_pct,week11_n_judges,week11_total_score,week11_normalized,week11_pct
0,John O'Hurley,Charlotte Jorgensen,Actor/Actress,Maine,United States,50,1,2nd Place,2,7.0,...,NaN,NaN,0,0.0,NaN,NaN,0,0.0,NaN,NaN
1,Kelly Monaco,Alec Mazo,Actor/Actress,Pennsylvania,United States,29,1,1st Place,1,5.0,...,NaN,NaN,0,0.0,NaN,NaN,0,0.0,NaN,NaN
2,Evander Holyfield,Edyta Sliwinska,Athlete,Alabama,United States,42,1,Eliminated Week 3,5,5.0,...,NaN,NaN,0,0.0,NaN,NaN,0,0.0,NaN,NaN
3,Rachel Hunter,Jonathan Roberts,Model,NaN,New Zealand,35,1,Eliminated Week 4,4,7.0,...,NaN,NaN,0,0.0,NaN,NaN,0,0.0,NaN,NaN
4,Joey McIntyre,Ashly DelGrosso,Singer/Rapper,Massachusetts,United States,32,1,3rd Place,3,7.0,...,NaN,NaN,0,0.0,NaN,NaN,0,0.0,NaN,NaN

In [7]:
# 查看形状、列名、类型
df.shape
df.columns.tolist()
df.dtypes

celebrity_name                   object
ballroom_partner                 object
celebrity_industry               object
celebrity_homestate              object
celebrity_homecountry/region     object
                                 ...
week10_pct                      float64
week11_n_judges                   int64
week11_total_score              float64
week11_normalized               float64
week11_pct                      float64
Length: 97, dtype: object

In [8]:
# 查看摘要统计
df.describe()

,celebrity_age_during_season,season,placement,week1_judge1_score,week1_judge2_score,week1_judge3_score,week1_judge4_score,week2_judge1_score,week2_judge2_score,week2_judge3_score,...,week9_normalized,week9_pct,week10_n_judges,week10_total_score,week10_normalized,week10_pct,week11_n_judges,week11_total_score,week11_normalized,week11_pct
count,421.000000,421.000000,421.000000,421.000000,421.000000,407.000000,81.00000,421.000000,421.000000,421.000000,...,152.000000,152.000000,421.000000,421.000000,109.000000,109.000000,421.000000,421.000000,37.000000,37.000000
mean,38.786223,18.280285,6.814727,6.627869,6.323831,6.520474,6.54321,6.742280,6.502375,6.706651,...,0.932821,93.282171,0.843230,8.001573,0.949268,94.927064,0.282660,2.748610,0.973009,97.300541
std,13.765274,9.730038,3.758656,1.221205,1.282682,1.313215,1.17313,1.754102,1.758989,1.771481,...,0.079720,7.971763,1.445562,13.743044,0.055316,5.531544,0.919839,8.944637,0.037732,3.773245
min,14.000000,1.000000,1.000000,4.000000,3.000000,3.000000,3.00000,0.000000,0.000000,0.000000,...,0.625000,62.500000,0.000000,0.000000,0.750000,75.000000,0.000000,0.000000,0.849997,85.000000
25%,29.000000,10.000000,4.000000,6.000000,5.000000,6.000000,6.00000,6.000000,6.000000,6.000000,...,0.900000,90.000000,0.000000,0.000000,0.933330,93.330000,0.000000,0.000000,0.958327,95.830000
50%,36.000000,18.000000,7.000000,7.000000,6.000000,6.500000,7.00000,7.000000,7.000000,7.000000,...,0.950000,95.000000,0.000000,0.000000,0.959257,95.930000,0.000000,0.000000,0.983333,98.330000
75%,47.000000,27.000000,10.000000,7.000000,7.000000,7.000000,7.00000,8.000000,7.500000,8.000000,...,0.983333,98.330000,3.000000,25.500000,0.988887,98.890000,0.000000,0.000000,1.000000,100.000000
max,82.000000,34.000000,16.000000,11.333300,11.333300,11.333300,9.00000,10.000000,10.000000,10.000000,...,1.216667,121.670000,4.000000,40.000000,1.050000,105.000000,4.000000,40.000000,1.044440,104.440000

In [9]:
# 只保留 celebrity_name、每周 pct、results，命名为 df1
pct_cols = [c for c in df.columns if c.startswith("week") and c.endswith("_pct")]
df1 = df[["celebrity_name", "results"] + pct_cols].copy()
df1

,celebrity_name,results,week1_pct,week2_pct,week3_pct,week4_pct,week5_pct,week6_pct,week7_pct,week8_pct,week9_pct,week10_pct,week11_pct
0,John O'Hurley,2nd Place,66.67,86.67,80.00,70.00,90.00,90.00,NaN,NaN,NaN,NaN,NaN
1,Kelly Monaco,1st Place,43.33,56.67,70.00,86.67,78.33,91.67,NaN,NaN,NaN,NaN,NaN
2,Evander Holyfield,Eliminated Week 3,60.00,46.67,43.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rachel Hunter,Eliminated Week 4,66.67,80.00,86.67,83.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Joey McIntyre,3rd Place,66.67,70.00,73.33,66.67,75.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,Scott Hoying,Eliminated Week 6,50.00,60.00,73.33,70.00,75.00,70.00,NaN,NaN,NaN,NaN,NaN
417,Alix Earle,2nd Place,65.00,70.00,76.67,80.00,87.50,87.50,107.5,96.25,100.0,96.67,100.00
418,Jen Affleck,Eliminated Week 7,60.00,73.33,63.33,76.67,72.50,80.00,85.0,NaN,NaN,NaN,NaN
419,Whitney Leavitt,Eliminated Week 10,75.00,73.33,80.00,83.33,82.50,97.50,105.0,98.75,105.0,96.67,NaN
420,Dylan Efron,4th Place,50.00,66.67,76.67,76.67,90.00,80.00,95.0,95.00,105.0,91.67,97.78